.access{
    text-align: center;
}

.renraku{
    font-size: 10.0ex;
}

.git{
    width: 300.0px;
    height: 300.0px;
    margin: 2vw;
}
.insta{
    width: 300.0px;
    height: 300.0px;
    margin: 2vw;
}
.tel{
    width: 300.0px;
    height: 300.0px;
    margin: 2vw;
}

.fo{
    font-size: medium;
}
.name{
    font-size: 5.0ex;
}