.home{
    margin: auto;
}

.title{
    text-align:center;
    padding:1vw;
    font-size: 4vw;
    
}

.profile{
    display: flex;
}
.profile .img{
    margin: auto;
    width: 25vw;
    margin-right: 0;
    
    /* width: 25vw;
    margin: 3vw;
    padding: 0;
    overflow: hidden;
    position: relative; */
}
.profile .p{
    margin: auto;
    font-size: 1vw;
    margin-left: 10vw;
    
}



.performance{
    
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;

}
.a{
    display: inline-block;
    margin-bottom: 3vh;
    font-size: 1.2vw;
}
.num{
    font-size: 1vw;
}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}
.works > *{
    min-width: 35vw;
    flex-basis: 25%;
    background: #FFF;
    text-align: center;
}
.works,
.works > *{
    border: 0px solid #aaa;
}

.work {
    margin: 1vh;
    background: #CCFFFF;
    box-shadow: 8px 8px 2px rgb(0, 0, 0, 0.22);
}
.work-title{
    font-size: 1vw;
    background: #0099FF;
    padding: 0.5vw;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.work-a{
    font-size: 1.1vw;
    margin-bottom: 0;
}
.work-p{
    font-size: 2vw;
}
.work1{
    display: block;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vw;
    width: 30vw;
}

.work2{
    display: block;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vw;
    width: 25vw;
}

.work3{
    display: block;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 4vh;
    width: 30vw;
}

.work4{
    display: block;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vw;
    width: 25vw;
}

.work5{
    display: block;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vw;
    width: 30vw;
}

.work6{
    display: block;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vw;
    width: 25vw;
}


.button{
    width: 10vw;
    height: auto;
    margin: 1vw;
    font-size: 1vw;
    margin-bottom: auto;
    max-width: 100%;
}



.perfor-dl{
    margin: 1vw;
    width: 100vw;
}


.videohome{
    display: block;
    margin: auto;
    margin-top: 10vh;
    width: 30vw;
    height: 40vh;
}