.menu{
    background-color: #CCFFFF;
}

.menu-list{
    text-align: right;
}
.menu-list li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 3vw;
}
.menu-list a{
    text-decoration: none;
    color: #0011ff;
    font-size: 3vw;
}
.menu-list>li.current>a{
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
}